# AWS Configuration
AWS_ACCOUNT_ID={AWS_ACCOUNT_ID}
AWS_REGION=us-east-2

#GitHub Configuration
GITHUB_ORG={GITHUB_USERNAME}

# Environment
ENVIRONMENT=dev

# Application Configuration
APP_NAME=express-app
ECR_REPOSITORY_NAME=express-app
ECS_CPU=256
ECS_MEMORY=512
ECS_DESIRED_COUNT=2

# Domain (optional)
# DOMAIN_NAME=example.com
